*{
    background-color: rgb(142, 218, 142);
}

h1, h2, h3, h4, ul{
    margin: 50px;
}

h1, h2, h3, h4, ul, p{
    text-align: center;
}

h1{
    background-color: rgb(142, 245, 245);
    margin: 0;
    padding: 15px;
    font-size: 50px;
}

h1, h2, h3, h4{
    color: rgb(141, 59, 141);
}

.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

img {
    margin: 25px;
    width: 15%;
    height: auto;
}

ul{
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: 50px;
    margin-left: 0;
}

p, li{
    margin: 25px;
}


