*{
    background-color: rgb(142, 218, 142);
    text-align: center;
}

ul{
    list-style-type: none;

}

li{
    margin: 50px;
    padding: 20px;
    border-style: solid;
    border-color: black;
    border-color: rgb(74, 160, 74);
    border-radius: 50px;
    border-width: 5px;
}

img{
    margin: 75px;
    margin-bottom: 25px;
}

h1{
    background-color: rgb(142, 245, 245);
    margin: 0;
    padding: 15px;
    font-size: 100px;
    color: rgb(141, 59, 141);
}